<h2>Questions for <%= @survey.name %></h2>
<ol class="questions">
	<% @questions.each do |question| %>
		<li><span class="question_name"><%= question.name  %></span>: <%= question.prompt %></li>
	<% end %>
</ol>
