<%= link_to_function 'Field Mapping Help', 'showHideHelp()' %>

<div class="help">
	<div class="field_mapping_example">
		<h3>Example</h3>
		<p>Enter Dan's description here</p>
		SalesforceField=&lt;SurveyField&gt; such as: name=&lt;Name&gt;
	</div>
	<div class="all_questions">
		<h3>Survey Fields for <%= @object_mapping.survey.name %></h3>
		<%= @questions.map(&:name).join(', ')%>
	</div>
	<div class="salesforce_field_info">
		<h3>Salesforce fields for <%= select_tag :selected_object, options_from_collection_for_select(@salesforce_objects, :id, :label), :class=>"help_select_object", :include_blank => "Select Salesforce Object" %></h3>

		<div id="salesforce_fields"></div>
	</div>
</div>