div.field_mapping
{
	padding: 5px;	
}

div.field_mappings:nth-child(2n) {
	background-color: #DDD;
}

div.field_mappings:nth-child(2n+1) {
	background-color: #EEE;
}


div.field_mapping div.heading
{
	font-weight: bold;
	font-size: large;
}

div.field_name
{
	width: 30%;
	float: left;
}

div.question_name
{
	width: 70%;
	float: left;
}

div.clear
{
	clear: both;
}

div.notice{
	border: 1px solid #33CC66;
	background-color: #99FF66;
	padding: 5px;
}

div.error{
	border: 1px solid #FF0000;
	background-color: #FF3333;
	padding: 5px;
}

div.banner{
	border-bottom: 2px solid #787878;
}

div.banner, div.menu, div.breadcrumbs{
	margin: 5px;
	padding: 5px;
}

div.menu, div.breadcrumbs{
	border-bottom: 1px solid #787878;
}

div.survey{
}

div.survey div.survey_name{
	float: left;
	padding: 3px;
}

div.survey div.survey_name span {
	font-weight: bold;
}

div.content{
	padding: 5px;
}

div.actions{
	padding: 5px;
}

ol.field_mappings span.actions{
}

ol.questions li span.question_name{
	font-weight: bold;
}

ol.surveys{
	padding-left: 5px;	
}

ol.surveys li{
	list-style-type: none;
}

ol.surveys li div.survey{
	background-color: #EEE;
	margin-bottom: 3px;
}

table.import_histories tr{
	
}

table.import_histories tr.success{
	border: 1px solid #99FF66;
	background-color: #99FF66;
}


table.import_histories tr.failed{
	border: 1px solid #FF0000;
	background-color: #FF3333;
}

table.import_histories tr.incomplete{
	border: 1px solid #ECFF0F;
	background-color: #ECFF0F;
}

div.menu{
	text-align: right;
}

span.highlighted{
	background-color: #ECFF0F;
	padding: 0 2px;
}

div.search_form{
	text-align: right;
	padding: 5px;
}

span.sync_with_epi_surveyor{
	float: right;
}