<%= title "Mapping Cloning Report (Base Survey: #{@base_survey.name} ) ", true %>

    <table class="report" border="1">
      <tr>
        <th> Survey </th>
        <th> Status </th>
        <th> Message</th>
      </tr>


      <% @status_messages.each do |status| %>
          <tr>
     
            <td><%= status.name %></td>
            
            <% if status.error_status %>
                <td><div class="error"> FAILED </div></td>
            <% else %>
                <td><div class="notice"> PASS </div></td>
          <% end %>
            
            <td><%= status.message %></td>
          </tr>
      <% end %>

    </table>
